<h1>This is a new page</h1>

<%# axios.post('/cats') %>
<form action="/cats" method="post">
  <p>Breed: <input type="text" name="breed">
  <p>Name: <input type="text" name="name">
  <p>Image: <input type="text" name="image_url">
  <p>age: <input type="text" name="age">
  <input type="submit">
</form>